<!doctype html>
<html ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>chat with socket.io</title>
        <link rel="stylesheet" href="CSS/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-controller="mainController">
    <div id="main">
    <ul id="messages"></ul>
    <div id="friends" class="container">
        <p>Active users: </p>
        <div ng-repeat="user in activeUsers">

            <button ng-click="chatWith(user.socketID)">{{user.name}}</button></>
        </div>
    </div>
    <div id="m">

        <input id="msg" ng-model="message" autocomplete="off" />
        <button id="sendBtn" ng-click="send()">Send</button>

        <select id="select">
            <option ng-repeat="user in activeUsers" value={{user.socketID}} >{{user.name}}</option>
        </select>
            <button id="wisperBtn" ng-click="wisper()">wisper</button>

    </div>

    </div>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content" id="modalContent">
            <p>Username:</p>
            <input type="text" id="username" maxlength="10" ng-model="userNick" >
            <div id="logIn">
                <button type="button" id="logInBtn" ng-click="logIn()" >Log in</button>
            </div>

        </div>

    </div>

    </body>

</html>